<!doctype html>

<head>

{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'med_tracker_app/style.css' %}" />
	<!--
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> -->

	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

	<script type="text/javascript" src="/static/med_tracker_app/jQuery.select2Buttons.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/med_tracker_app/select2Buttons.css" />

</head>

<body>
<!--
                ,%%%,
                 ,%%%` %==--
                ,%%`( '|
               ,%%@ /\_/
     ,%.-"""--%%% "@@__  
    %%/             |__`\       
   .%'\     |   \   /  //
   ,%' >   .'----\ |  [/
      < <<`       ||      
       `\\\       ||        
         )\\      )\
 ^^^^^^^^"""^^^^^^""^^^^^^^^

Thanks to chris.com
-->


{% block content %}{% endblock %}



</body>
