
{% extends "med_tracker_app/base.html" %}


{% block content %}

<h3>A nice big title for main.html</h3>



<form id="signup" name="signup" action="/med_tracker_app/firstsignin/" method="POST">{% csrf_token %}
	<label for="username" name="username">Username</label>
	<input class="text username" name="username" type="text" /><br>
	
	<label for="email" name="email">Email Address</label>
	<input class="text" name="email" type="text" /><br>

	<label for="password" name="password">Password</label>
	<input class="text" name="password" type="text" /><br>

	<input class="btn" type="submit" value="Sign Up" />
</form>

<br><br>

{{ failed_login }}
{{ logout }}

<br><br>

Log in here:
<form id="login" name="login" action="/med_tracker_app/login/" method="POST">{% csrf_token %}
	<label for="username" name="username">Username</label>
	<input class="text username" name="username" type="text" /><br>
	
	<label for="password" name="password">Password</label>
	<input class="text" name="password" type="text" /><br>

	<input class="btn" type="submit" value="Log In" />
</form>

{% endblock %}