
{% extends "med_tracker_app/base.html" %}

{% block content %}

<h3>A nice big title for user_dash.html</h3>

{{ good_login }}

<p>Here is a dashboard with all your stuff.</p>

<!-- A form to add meds -->
<!-- A form to add events -->
<!-- a table or similar to view existing meds and events -->
<!-- worry about amending meds/events later -->
<!-- a way of organising the timeline - html5? -->




<p>Here are your meds:<br>
	{% for thing in your_meds %}
		<li>{{ thing }}</li>
	{% endfor %}
</p>

<!-- {{ your_meds.0|stringformat:"s" }} -->

<br>

<h4>Create / add a medication here</h4>
<form id="add_medication" name="add_medication" action="/med_tracker_app/add_med/" method="POST">{% csrf_token %}
	Enter the medication: <input type="text" name="generic_name" value=""><br><br>
	Enter the units you will use for this medication: <input type="text" name="units" value=""><br><br>
	<input class="btn" type="submit" value="Submit" />
</form>



<br><br>

<h4>Create an event here</h4>
<form id="add_event" name="add_event" action="/med_tracker_app/insert_action_here/" method="POST">{% csrf_token %}
	Date: <input type="date" name="date" value=""><br><br>
	Event type: <input type="text" name="type" value=""><br><br>
	Description: <input type="text" name="description" value=""><br><br>
	Dosage: <input type="text" name="dosage" value=""><br><br>
	Medication: <input type="text" name="medication" value=""><br><br>
	<input class="btn" type="submit" value="Submit" />
</form>

<br><br>
<a href="/med_tracker_app/logout/">Log out</a>





{% endblock %}