
{% extends "med_tracker_app/base.html" %}

{% block content %}
<!-- <h3>A nice big title for user_dash.html</h3> -->

<a href="/med_tracker_app/account">Your account</a><br>

{{ good_login }}

<p>Here is a dashboard with all your stuff.</p>


{% url 'add_event' as event_url %}
{% if event_url %}
	<strong>{{ new_event }}</strong>
{% endif %}

{% url 'add_med' as med_url %}
{% if med_url %}
	<strong>{{ new_med }}</strong><br>
	<label for="simple-select">Here are your meds:</label>
		<select name="selected" class="standard-demo">
			{% for thing in your_meds %}
			<option>{{ thing }}</option>
			{% endfor %}
		</select>
{% endif %}

<br><br>

<h4>Create / add a medication here</h4>
<form id="add_medication" name="add_medication" action="/med_tracker_app/add_med/" method="POST">{% csrf_token %}
	Enter the medication: <input type="text" name="generic_name" value=""><br><br>
	Enter the units you will use for this medication: <input type="text" name="units" value=""><br><br>
	<input class="btn" type="submit" value="Submit" />
</form>

<br><br>


	<form id="add_event" name="add_event" action="/med_tracker_app/add_event/" method="POST">{% csrf_token %}
		<p>
			<label for="simple-select">Here are your events:</label>
			<select name="selected" class="standard-demo">
				{% for thing in your_events %}
				<option>{{ thing }}</option>
				{% endfor %}
			</select>
		</p>
		<br><br>
		<h4>Create an event here</h4>

		Date: <input type="date" name="date" value=""><br><br>
		Event type: <input type="text" name="event_type" value=""><br><br>
		Description: <input type="text" name="description" value=""><br><br>
		Dosage: <input type="text" name="dosage" value="">Automatically put the units here, depending on which med is selected<br><br>
		<input class="btn" type="submit" value="Submit" />
	</form>

	<script>
		$('.standard-demo').select2Buttons();
		$('select[name=js-callback-select]').change(function() {
			alert('Changed to ' + $(this).val());
		});
		$('select[name=no-default-select]').select2Buttons({noDefault: true});
	</script>


	<br><br>
	<a href="/med_tracker_app/logout/">Log out</a>


	{% endblock %}


